.sidebar{
    width: 25%;
    padding: 20px;
    height: 100vh;
    display: flex;
    background-color: rgb(148, 163, 240);
    flex-direction: column;
    gap: 30px;

}
#main{
    width: 2000px;
    height: 100vh;
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 10px;
}
.container{
    display: flex;
    flex-direction: row;

}
.card{
    background-color: aqua;
    display: flex;
    height: 400px;
    flex-direction: column;


}